.right_header{
    width: 100%;
    height: 60px;
    background-color: #f22613;
    border-radius: 10px;
    padding-top: 5px;
}

.header_button{
    margin: 18px;
}

.header_search{
    float: right;
    margin: -61px 10px 0 0;
}

.header_search input{
    height: 38px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    margin-right: 17px;
    margin-top: 10px;
    background-color: #eee;
}

.container_right_body{
    position: relative;
}

.right_body{
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    right: 0;
    z-index: 0;
    position: absolute;
}

.right_body--header{
    margin-bottom: 75px;
}

.content_item{
    width: 300px;
    height: auto;
    border: 1px solid black;
    float: left;
    margin: 10px 10px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px 5px 10px 15px;
}

.item_button{
    position: absolute;
    top: 0;
    right: 0;
}

.item--img img{
    border-radius: 5px;
}